<%= form_for(evaluation) do |f| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evaluator_id %>
    <%= f.text_field :evaluator_id %>
  </div>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.text_field :project_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :observation %>
    <%= f.text_area :observation %>
  </div>

  <div class="field">
    <%= f.label :decision %>
    <%= f.text_field :decision %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
