<%= form_for(state_project) do |f| %>
  <% if state_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_project.errors.count, "error") %> prohibited this state_project from being saved:</h2>

      <ul>
      <% state_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.text_field :project_id %>
  </div>

  <div class="field">
    <%= f.label :state_id %>
    <%= f.text_field :state_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
